.row1{
	height:150px;
	background-color: #dccccc;
}
.navbar ul li
{
	list-style-type: none;
	float:left;
/* 	padding-left: 40px; */
/* 	margin-top:60px; */
	font-family:Open Sans;
	margin-left:10px;

}
.navbar ul{
	margin-left:300px;
}
.navbar ul li a{
	color:black;
	font-weight:bold;
	text-decoration:none;
}
.navbar ul li a:hover{
	color:#76a7d2;
}
.row1 img{
	height:200px;
	width:200px;
	margin-top:-30px;
}
.row1 input{
	width:200px;
	margin-top:50px;
	border-radius:5px;
	border:2px solid grey;
	height:40px;
	margin-left:90px;
	font-family:Dosis;
	padding-left:10px;
	font-size:15px;
}
.row2{
	min-height: 600px;
	background:url("../images/background_Store.jpg");
	background-size:cover;
}
.row3{
	height:100px;
	background-color:black;
}
.container
{
	background-color:grey;
}
.row3 ul li{
	float:left;
	list-style-type: none;
	padding:30px;
}
.row3 ul li a:hover{
	opacity:0.5;
}
.row3 ul{
	margin-left: 425px;
	margin-top:20px;
}
.row3 p{
	color:aliceblue;
	letter-spacing:3px;
	margin-top:50px;
	margin-left:45px;

}
.row2a{
	margin-top:10px;
	min-height: 600px;
	background-color: #303030;
}
.row2a iframe{
	margin-top:-10px;
	width:100%;
	height: 200px;
	

}
.row2a p{
	margin-top:30px;
	font-size:35px;
	font-family:Dosis;
	letter-spacing:2px;
	line-height:50px;
	color:aliceblue;
}
.row2g {
	min-height:600px;
	background-color:#303030;

}
.row2g h3{
	text-align:center;
	font-size:40px;
	color:aliceblue;
}
.row2g ul li{
	color:aliceblue;
	margin-top:50px;
	font-family:Open Sans;
	letter-spacing:1px;
}
/*@media only screen and (max-width:767px)
{
	.row1
	{
		background-color: yellow;

	}
	.row1 .col-xs-2
	{
		width:200px;
	}
	.row1 .col-xs-7{
		width:300px;
	}
	.nav ul li{
		padding-left:0px;
		margin-left:10px;
		font-size:12px;
	}
	.nav ul
	{
		margin-left:0px;
		padding-left:0px;
	}
	.nav{
		width:500px;
	}
}*/